<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="" width="50px" class="d-inline-block align-text-top"><span class="text-uppercase">ngular quiz</span>
        
      </a>
     <div class="topnav-right" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"   *ngIf="!this.isLoggedin()"   routerLink="login"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="this.isLoggedin()"  routerLink="sign-up"><b>Sign-Up</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active y"  *ngIf="this.isLoggedin" (click)="logout()"><b>Logout</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>